<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


  <display-name>Archetype Created Web Application</display-name>
<servlet>
  <servlet-name>UserServlet</servlet-name>
  <servlet-class>ru.Korotaev.ComputerStore.RegistrationOrSignIn.Servlet.UserServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/index.jsp</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserSignIn1</servlet-name>
    <servlet-class>ru.Korotaev.ComputerStore.RegistrationOrSignIn.Servlet.UserSignIn1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSignIn1</servlet-name>
    <url-pattern>/UserSignIn1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ReadyMadeComputer</servlet-name>
    <servlet-class>ru.Korotaev.ComputerStore.RegistrationOrSignIn.ComputerStoreServlets.ReadyMadeComputer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadyMadeComputer</servlet-name>
    <url-pattern>/ReadyMadeComputer</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Computer1</servlet-name>
    <servlet-class>ru.Korotaev.ComputerStore.RegistrationOrSignIn.ComputerStoreServlets.Computer1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Computer1</servlet-name>
    <url-pattern>/Computer1</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Computer2</servlet-name>
    <servlet-class>ru.Korotaev.ComputerStore.RegistrationOrSignIn.ComputerStoreServlets.Computer2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Computer2</servlet-name>
    <url-pattern>/Computer2</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Computer3</servlet-name>
    <servlet-class>ru.Korotaev.ComputerStore.RegistrationOrSignIn.ComputerStoreServlets.Computer3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Computer3</servlet-name>
    <url-pattern>/Computer3</url-pattern>
  </servlet-mapping>
</web-app>